.App {
  text-align: center;
}

.wordle{
  display: flex;
  justify-content: center;
  align-items: center;
}

.wordle div{
  width:12px;
  height: 12px;
  padding:15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform:uppercase;
  border:1px solid black;
  margin:8px;
  font-size: 23 px;
  font-weight: bold;
}

