  body{
    min-height: 100vh;
    padding: 0;
    margin: 0;
  }

  .App {
    text-align: center;
    font-family:sans-serif;
    min-height: 100vh;
    position:relative;
  }

  .main{
    min-height: 80vh;
  }

  .message-container{
    min-height: 7.4vh;
   }
  